<div class="template-header" >
    <nav>
        <div class="logo">
            <h4>{{textLogo}}</h4>
        </div>
        <div class="items">
            <a href="#"><img [src]="srcIconA" /></a>
            <a href="#"><img [src]="srcIconB" /></a>
            <a href="#"><img [src]="srcIconC" /></a>
            <a href="#"><img [src]="srcIconD" /></a>
            <a href="#"><img [src]="srcIconE" /></a>
        </div>
    </nav>
    <section>
        <h2 class="title-header">{{ titleHeader }}</h2>
        <hr class="line-red">
        <p class="subtitle-header">{{ subTitleHeader }}</p>
    </section>
</div>