.template-header{
    height: 700px;
    background:url(../../../assets/img/bg-header.png) no-repeat;
    background-size: 100%;
}

.template-header nav{
    display: flex;
    justify-content: space-between;
}

.template-header nav h4{
    font-family: "Helvetica";
    font-size: 2em;
    color:#fff;
    font-weight: 300;
    border-bottom: 2px solid;
    margin-left:20px;
}

.template-header .items{
    display: flex;
    align-items: center;
    margin-right:20px;
}

.template-header .items img{
    width: 60px;
    object-fit: contain;
}

.template-header .items>a:nth-child(3)>img{
    width: 80px;
}

.template-header section{
    text-align: center;
    color: #fff;
    font-family: "Helvetica";
}

.line-red{
    border-color: red;
    border-width: 2px;
    width: 26%;
    margin-bottom: 2%;
}

.title-header{
    font-size: 3em;
}

.subtitle-header{
    font-size: 1.8em;
    font-weight: 100;
    width: 780px;
    margin: auto;
}

@media(max-width:1680px){
    .template-header{
        height: 560px;
    }
}

@media(max-width:1440px){
    .template-header{
        height: 480px;
    }
}

@media(max-width:500px){
    .template-header{
        height: 480px;
    }

    .template-header .logo{
        display: none;
    }

    .template-header nav{
        justify-content: center;
        padding-top: 20px;
        
    }

    .template-header{
        background-size: cover;
        background-position: center center;
    }

    .template-header .items{
        margin-right:0;
    }

    .template-header .subtitle-header{
        font-size: 1.4em;
        width: 90%;
        margin: auto;
        margin-top: 8%;
    }

    .template-header .title-header{
        font-size: 2em;
        margin-top: 22%;
    }
}