.template-radio section{
    display: flex;
    align-items: center;
}

.template-radio h4{
    font-size: 1.6em;
    color: #6f6d6d;
    font-family: "Helvetica";
    font-weight: 600;
    margin-bottom: 16px;
}

.template-radio input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 3px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    /*background-color: #cb4d62;*/
    border-radius: 50%;
}

.template-radio input[type="radio"]:focus,.template-radio input[type="radio"]:checked{
    background-color: #cb4d62;
    outline: none;
}

.template-radio img{
    width: 98px;
    object-fit: contain;
}

.template-radio span{
    font-size: 1.3em;
    color: grey;
    font-family: "Helvetica";
    font-weight: 300;
}