<app-template-header
[textLogo]="textLogoExample"
[srcIconA]="srcIcon1"
[srcIconB]="srcIcon2"
[srcIconC]="srcIcon3"
[srcIconD]="srcIcon4"
[srcIconE]="srcIcon5"
[titleHeader]="titleHeaderExample"
[subTitleHeader]="subTitleHeaderExample"
>

</app-template-header>

<app-template-radio
[titleBoxRadio]="titleBoxRadio"
[nameRadio]="nameExampleRadio"
[valueRadio]="0"
[textRadio]="textExampleRadio"
[srcImg]="srcImgRadio"
></app-template-radio>

<app-template-button
[textBtn]="txtBtnExample"
[classColorBtn]="colorBgBtn"
>
</app-template-button>


<app-template-table-radio
[titlesRadioTable]="titlesRadioTableExample"
>
</app-template-table-radio>
